<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <header class="main">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1> 
    </header>
    <section class="content">
      <nav class="side_nav"> 
        <p class="time"><%=  Time.new.to_s %> </p>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/questions">Questions</a>
          </li> 
          <li>
            <a href="/news">News</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul> 
      </nav>
      <main class='<%= controller.controller_name %>'>
        <%= yield %> 
      </main>
    </section>
  </body>
</html>
